.countdown {
  @include outer-container();
  margin-top: 30px;
  color: #fff;

  &__item {
    @include span-columns(6);
    margin-bottom: 50px;

    &--period {
      width: 100%;
      font-size: em(14px);
      font-weight: $font-weight--medium;
      display: block;
      letter-spacing: .5em;
      text-transform: uppercase;
    }

    &--amount {
      font-size: em(80px);
      font-weight: $font-weight--thin;
    }
  }
}
